main aside .filter-form {
  padding: 30px 0px;
  padding-left: 30px;
  border-bottom: 3px solid var(--light-gray);
}
main aside .filter-form .range {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin-bottom: -5px;
}
main aside .filter-form .range input {
  border: 2px solid var(--light-gray);
  background-color: var(--body-color);
  width: 110px;
  height: 60px;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
}
main aside h1 {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--text);
  font-size: 2.7rem;
}

main aside .filter-form p {
  margin-bottom: 8px;
  margin-left: 20px;
}

main aside .filter-form [type="checkbox"]:checked,
main aside .filter-form [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

main aside .filter-form [type="checkbox"] + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 1.3rem;
  transition: 0.4s;
  opacity: 0.6;
}

main aside .filter-form [type="checkbox"]:checked + label {
  padding-left: 45px;
  opacity: 1;
}

main aside .filter-form [type="checkbox"]:checked + label:before,
main aside .filter-form [type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 3px;
}

main aside .filter-form [type="checkbox"]:checked + label:after,
main aside .filter-form [type="checkbox"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--purple);
  position: absolute;
  top: 9px;
  left: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 3px;
}

main aside .filter-form [type="checkbox"]:checked + label:before {
  left: 16px;
}

main aside .filter-form [type="checkbox"]:checked + label:after {
  left: 20px;
}

main aside .filter-form [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

main aside .filter-form [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

main aside .filter-form button {
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  width: 85%;
  cursor: pointer;
  padding: 15px 0px;
  position: relative;
  letter-spacing: 0.05em;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  overflow: hidden;
}
main aside .filter-form button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  color: var(--white);
}

main aside .filter-form button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

main aside .filter-form button::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

main aside .filter-form button:hover::before {
  transform: translate3d(100%, 0, 0);
}
main aside .filter-form {
  padding: 30px 0px;
  padding-left: 30px;
  border-bottom: 3px solid var(--light-gray);
}
/* =================> MEDIA Q <================= */
@media (max-width: 1100px) {
  main {
    flex-direction: column;
  }
  main aside,
  main section {
    width: 100% !important;
    border-right: none !important;
  }
  main section .filter-icon {
    display: block;
  }
  main aside {
    display: none;
  }
  main aside.mobile {
    display: block;
  }
  main aside .filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
  main aside .filter-form .options {
    display: flex;
    flex-wrap: wrap;
  }
  main aside .filter-form:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 100px;
  }
  main aside .filter-form:last-child > h1 {
    width: 10%;
    margin-top: 7px;
  }
  main aside .filter-form:last-child > .range {
    width: 65%;
    gap: 10px;
    justify-content: flex-end;
  }
  main aside .filter-form:last-child > button {
    width: 25%;
    margin-top: 3px;
    margin-left: 15px;
  }
}
@media (max-width: 700px) {
  main section .search-input {
    padding: 10px 30px;
    border-radius: 10px;
  }
  main aside .filter-form:last-child {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
  }
  main aside .filter-form:last-child > h1 {
    width: 100%;
    margin-top: 7px;
    text-align: center;
  }
  main aside .filter-form:last-child > .range {
    width: 100%;
    gap: 10px;
    justify-content: center;
  }
  main aside .filter-form:last-child > button {
    width: 85%;
    margin-top: 15px;
    margin-left: 15px;
  }
}
